<% @page_title = "Log in" %>
<h1>Log In</h1>
<div>
  <%= form_for :session, url: login_path do |f| %>
  <p>
    <%= f.label :email_id %><br>
    <%= f.text_field :email_id, placeholder: 'Email ID' %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password, placeholder: 'Enter password' %>
  </p>
    <p>
    <%= f.submit "Login" %>
  </p>
 <% end %>
</div>
