<% @page_title = "Sign up" %>

<div>
  <%= form_for @user, url: sign_up_path do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %>
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name, placeholder: 'Full name',
                     style: 'width: 100%' %>
  </p>

  <p>
    <%= f.label :phone_no %><br>
    <%= f.text_field :phone_no, style: 'width: 100%', placeholder: 'Mobile number' %>
  </p>

   <p>
    <%= f.label :address %><br>
    <%= f.text_area :address, placeholder: 'Enter Address' %>
  </p>

  <p>
    <%= f.label :zipcode %><br>
    <%= f.text_field :zipcode, placeholder: 'Enter Address' %>
  </p>

  <p>
    <%= f.label :email_id %><br>
    <%= f.text_field :email_id, placeholder: 'Email ID' %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password, placeholder: 'Enter password' %>
  </p>

  <p>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, placeholder: 'Re-enter password' %>
  </p>

  <p>
    <%= link_to 'Cancel', root_path, style: 'width: 50%; height: 10%; color: white; background-color: rgb(255,0,0); font-size: 150%; border: none;' %>
    <%= f.submit "Create my account", style: 'width: 50%; height: 10%; color: white; background-color: rgb(0,200,0); font-size: 150%; border: none;' %>
  </p>

<% end %>
</div>